# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

#logs
anvil-zksync.log

# Foundry files

# Compiler files
*/*/cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# foundry files
**/out/
**/cache/
**/lib/
/Foundry-Practice/*/lib/

# hardhat files
HardHat-Practice/**/artifacts/
HardHat-Practice/**/cache/


