[submodule "Foundry-Practice/Lottery/lib/chainlink-brownie-contracts"]
	path = Foundry-Practice/Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry-Practice/Lottery/lib/forge-std"]
	path = Foundry-Practice/Lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-Practice/Lottery/lib/solmate"]
	path = Foundry-Practice/Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Foundry-Practice/Lottery/lib/foundry-devops"]
	path = Foundry-Practice/Lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Foundry-Practice/ERC20/lib/openzeppelin-contracts"]
	path = Foundry-Practice/ERC20/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Foundry-Practice/NFTs/lib/openzeppelin-contracts"]
	path = Foundry-Practice/NFTs/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Foundry-Practice/NFTs/lib/foundry-devops"]
	path = Foundry-Practice/NFTs/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Foundry-Practice/Merkle-Airdrop/lib/murky"]
	path = Foundry-Practice/Merkle-Airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "Foundry-Practice/Merkle-Airdrop/lib/foundry-devops"]
	path = Foundry-Practice/Merkle-Airdrop/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Foundry-Practice/Contract-Upgrades/lib/openzeppelin-contracts-upgradeable"]
	path = Foundry-Practice/Contract-Upgrades/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
